@tailwind base;
@tailwind components;
@tailwind utilities;
/* The below CSS is required to fix the issue to place the 
footer at  bottom in different scenerios */
html {
	height: 100%;
	box-sizing: border-box;
}
body {
	position: relative;
	margin: 0;
	min-height: 100%;
	box-sizing: inherit;
	padding-bottom: 7rem;
}
